<section class="about-section section">
    <div class="about-image">
        <img src="/images/about-us-image.png" alt="About Us">
    </div>
    <div class="about-content">
        <ul class="about-title">
            <li>About Us</li>
        </ul>
        <h3 class="about-description">Elevating Fitness Journey with Expert Guidance</h3>
        <p class="about-text">
            We support every stage of your fitness journey with certified personalized
            programs proven methods designed to help you train safely, build strength.
        </p>
        <div class="our-mission">
            <p>
                Our mission is to transform lives by combining expert guidance,
                powerful training programs, and a motivating community that helps you grow stronger every day.
            </p>
            <img src="/images/icon-about-body-quote-prime 1.png" alt="quote">
        </div>
    </div>
</section>