<section class="brand-section">
    <ul class="brand-group">
        <li class="brand-item">
            <img src="~/images/brandLogos/Logoipsum1.png" alt="Logo" />
        </li>
        <li class="brand-item">
            <img src="~/images/brandLogos/Logoipsum2.png" alt="Logo" />
        </li>
        <li class="brand-item">
            <img src="~/images/brandLogos/Logoipsum3.png" alt="Logo" />
        </li>
        <li class="brand-item">
            <img src="~/images/brandLogos/Logoipsum4.png" alt="Logo" />
        </li>
        <li class="brand-item">
            <img src="~/images/brandLogos/Logoipsum5.png" alt="Logo" />
        </li>
    </ul>
    <div class="brand-title">
        <h2>Modern Equipment</h2>
    </div>
</section>