<section class="hero-section">
    <div class="hero-content">
        <ul class="mindset-item">
            <li class="quote">Strong Body, Strong Mind.</li>
        </ul>
        <h2 class="hero-title">Build Strength Boost Confidence Today</h2>
        <p class="hero-description">
            Begin your fitness journey with trainers, modern equipment,
            and a supportive environment designed to help you build streanght and confidence.
        </p>
        <ul class="health-information-items">
            <li class="specs-item">Transform your body with training</li>
            <li class="specs-item">Personal training for real results</li>
            <li class="specs-item">Build confidence through fitness</li>
            <li class="specs-item">Fitness tailored to your goals</li>
        </ul>
    </div>

    <img src="/images/hero-image.png" alt="Hero Image" class="hero-image">
                
    <button class="menu-item menu-item-button btn" asp-action="Index" asp-controller="Memberships">Get Started</button>
</section>