<section class="our-store-section section">
    <div class="store-content">
        <ul class="our-store-title">
            <li>Our Store</li>
        </ul>
        <h3 class="store-description">High quality fitness products built for results</h3>
        <div class="store-images">
            <img src="/images/product-image-1-prime 1.png" alt="Equipment Image 1">
            <img src="/images/product-image-2-prime 1.png" alt="Equipment Image 1">
            <img src="/images/product-image-3-prime 1.png" alt="Equipment Image 1">
            <img src="/images/product-image-4-prime 1.png" alt="Equipment Image 1">
        </div>
        <div class="quote-link">
            <p class="free-quotes">Let's make something great work together.</p>
            <a href="https://www.quotes.net/" class="link">Get Free Quotes</a>
        </div>
    </div>
</section>