<section class="program-section section">
    <div class="program-content">
        <ul class="program-title">
            <li>Our Programs</li>
        </ul>
        <h3 class="program-description">Professional training program for stronger health</h3>
        <div class="training-images">
            <img src="~/images/program-image-1 1.png" alt="Program Image 1">
            <img src="~/images/program-image-2 1.png" alt="Program Image 2">
            <img src="~/images/program-image-3 1.png" alt="Program Image 3">
        </div>
        <div class="quote-link">
            <p class="free-quotes">Let's make something great work together.</p>
            <a href="https://www.quotes.net/" class="link">Get Free Quotes</a>
        </div>
    </div>
</section>